:root {
    --bg-color: white;
    --text-color: #393939;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Open Sans';
  
    font-size: 100%; // = 16px
  
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


::selection {
    background-color: #B2CA06;
    color: #fff;
}
-moz-::selection {
    background-color: #B2CA06;
    color: #fff;
}



/* Layout */

.main {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: stretch;
    align-items: stretch;
}
@media screen and (min-width: 768px) {
    .main {
        flex-direction: row;
    }
}

.panel {
    position: relative;
    flex-basis: 100%;
}

/* Home panels */
.panel--home-main {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.panel--home-cover {
    min-height: 60vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
    .panel--home-main { flex-basis: 60%; }
    .panel--home-cover { min-height: auto; flex-basis: 40%; order: 2; }
}
@media screen and (min-width: 1024px) {
    .panel--home-main { flex-basis: 50%; }
    .panel--home-cover { flex-basis: 50%; }
}
.intro-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 3rem;
    background: url('images/small-skyline.svg');
    background-size: 140%;
    background-position: bottom left;
    background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
    .intro-group {
        background-size: contain;
    }
}
.intro-group blockquote p {
    font-size: 1.25rem;
    color: #bbb;
    font-weight: 500;
    width: calc(100% - 6rem);
    max-width: 40rem;
    margin: 0 auto;
}



/* Panel layout */
.panel--nav { flex-basis: 0; }
.panel--full,
.panel--left,
.panel--right { flex-basis: 100%; }
@media screen and (min-width: 768px) {
    .panel--left { flex-basis: 60%; }
    .panel--right { flex-basis: 40%; }
}
@media screen and (min-width: 1024px) {
    .panel--nav { flex-basis: 25%; }
    .panel--full { flex-basis: 75%; }
    .panel--left { flex-basis: 50%; }
    .panel--right { flex-basis: 25%; }
}
@media screen and (min-width: 1200px) {
    .panel--nav { flex-basis: 20%; }
    .panel--full { flex-basis: 80%; }
    .panel--left { flex-basis: 45%; }
    .panel--right { flex-basis: 35%; }
}
/* Panel styling */
.panel--full, .panel--left {
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}
@media screen and (min-width: 768px) {
    .panel--full, .panel--left {
        padding: 2rem 4rem;
    }
}
@media screen and (min-width: 768px) {
    .panel--right { min-height: auto; order: 2; }
}



/* Content formatting */
.panel--full p,
.panel--left p,
.panel--full ul,
.panel--full ul {
    max-width: 60rem;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #757575;
}
@media screen and (min-width: 768px) {
    .panel--full p,
    .panel--left p,
    .panel--full ul,
    .panel--full ul {
        font-size: 1.125rem;
        line-height: 1.875rem;
    }
}
.panel--full p + figure,
.panel--left p + figure {
    max-width: 72rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.panel--full blockquote p, 
.panel--left blockquote p {
    font-size: 2rem;
    color: #B2CA06;
}





/* Headlines */

h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}
.heading1 {
    margin: 1.5rem 0 1rem; 
    font-size: 3rem;
    font-weight: 600;
}
.heading2 {
    margin: 0 0 3rem;
}
.heading3 {
    margin: 1.75rem 0 3.25rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #bbb;
    letter-spacing: 1px;
}
.heading4 {
    margin: 2rem 0 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.heading5 {
    margin: 2rem 0 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}
.heading5 + p { margin-top: 0; }
.heading-logo {
    display: flex;
    margin: -1rem 0;
    padding: 1rem 0;
    color: inherit;
}
@media screen and (min-width: 1024px) {
    .heading-logo { display: none; }
}
.heading-logo img {
    width: 1.25rem;
    margin-right: 0.5rem;
}
.heading-logo h2 {
    margin: 0;
    font-size: 1rem;
}



a { text-decoration: none; }

blockquote { margin: 0 0 2rem; }




/* Content Columns */
.row {
    display: flex;
    width: calc(100% + 2rem);
    max-width: calc(100% + 2rem);
    margin: 0 -1rem;
    flex-direction: column;
}
.col { padding: 1rem; }
@media screen and (min-width: 768px) {
    .row { flex-direction: row; }
}




/* Lang switcher */

.lang-switcher input {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
}
.lang-switcher label:before {
    content: "";
    position: absolute;
    left: 0.125rem;
    top: 0.125rem;
    width: 2.25rem;
    height: 2.25rem;
    background: white;
    border-radius: 1.125rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s cubic-bezier(1, 0, 0, 1);
}
.lang-switcher label:hover:before {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}
.lang-switcher input:checked ~ label:before {
    left: 2.625rem;
}
.lang-switcher label {
    position: relative;
    display: flex;
    background: #EDEDE9;
    border-radius: 2.5rem;
    cursor: pointer;
}
.lang-switcher .lang-switcher__item {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    margin: 0.125rem;
    font-weight: bold;
    color: #393939;
    transition: color 0.2s cubic-bezier(1, 0, 0, 1);
}
.lang-switcher .lang-switcher__item:last-child {
    color: #bbb;
}
.lang-switcher input:checked ~ label .lang-switcher__item:first-child {
    color: #bbb;
}
.lang-switcher input:checked ~ label .lang-switcher__item:last-child {
    color: #393939;
}




.toc {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    width: 100%;
    margin-top: auto;
    text-align: left;
}
.toc.toc--home {
    flex-direction: row;
}
.toc__section {
    flex: 1;
    padding-bottom: 2rem;
    border-top: 1px solid #EDEDE9;
}
.toc__section + .toc__section {
    border-left: 1px solid #EDEDE9;
}
.toc__header {
    display: flex;
    padding: 1.5rem 0 1.5rem;
    color: #9c9c9c;
}
.toc__header.is-active {
    color: #B2CA06;
    background: #F7F9E6;
}
.toc--home .toc__header {
    color: #393939;
}
.toc__header:hover {
    background: #F7F9E6;
    color: #393939;
}
.toc__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 3rem;
}
.toc__icon svg path { fill: rgba(0, 0, 0, 0.3); }
.toc__title {
    display: block;
    flex: 1;
}
.toc__title h3 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
}
.toc__pretitle {
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.4;
}
.toc__content {
    margin: 0;
    padding: 0;
    list-style: none;
}
.toc__content a {
    display: block;
    padding: 0.5rem 1rem 0.5rem 3rem;
    color: #757575;
    font-weight: regular;
}
.toc--home .toc__content a {
    color: #393939;
}
.toc__content a:hover {
    background: #F7F9E6;
    color: #393939;
}
.toc__content a.is-active {
    color: #B2CA06;
    font-weight: bold;
}
.toc__content a.is-disabled {
    color: #BBBBBB;
    cursor: not-allowed;
}


/* Nav */

nav {
    position: sticky;
    top: 0;
}
.nav-header {
    padding: 2.5rem 1.25rem;
}
.nav-header img { width: 2rem; margin-right: 1.25rem; }
.nav-header a {
    display: flex;
    color: inherit;
}
.nav-header h2 {
    font-size: 1.25rem;
    font-weight: bold;
}
/* Mobile Nav */
@media screen and (max-width: 1023px) {
    body.page--content { padding-bottom: 91px; }
    nav {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        z-index: 10;
        min-height: auto;
        width: 100%;
        background: white;
    }
    .nav-header {
        display: none;
    }
    nav .toc {
        flex-direction: row;
    }
    nav .toc__section { padding-bottom: 0; }
    nav .toc__header { padding: 1rem 1rem 1rem 0; }
    nav .toc__title h3 { font-size: 1rem; line-height: 1.25rem; }
    nav .toc__content { display: none; }
    
}




/* Figure */


figure { margin: 0; padding: 0; }
figure img { max-width: 100%; }

.figure--bg {
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 60vw;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.figure--bg img { display: none; }
@media screen and (min-width: 768px) {
    .figure--bg {
        min-height: 100vh;
    }
}
.figure--fullwidth {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}
@media screen and (min-width: 768px) {
    .figure--fullwidth {
        margin-left: -4rem;
        margin-right: -4rem;

}



/* Next */
.next {
    position: relative;
    display: block;
    margin: 3rem -1.5rem -1.5rem -1.5rem;
    padding: 2rem 4rem;
    border-top: 1px solid #EDEDE9;
    background: url('images/small-skyline.svg');
    background-size: 140%;
    background-position: bottom left;
    background-repeat: no-repeat;
    color: inherit;
}
@media screen and (min-width: 768px) {
    .next {
        margin: 3rem -4rem -2rem -4rem;
        background-size: contain;
    }
}
.next:hover {
    background-color: #F7F9E6;
}
.next:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.75rem;
    border-bottom: 0.125rem solid #E1E1DE;
    border-right: 0.125rem solid #E1E1DE;
    transform: rotate(-45deg);
    transition: all 0.2s ease-in-out;
}
.next:hover:before {
    right: 1.5rem;
    border-color: #B2CA06;
}
.next__pretitle {
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.4;
}
.next h4 {
    font-size: 1.25rem;;
    font-weight: 700;
}