@import "../../styles/base.scss";

.toc {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    width: 100%;
    margin-top: auto;
    text-align: left;

    &.toc--home {
        flex-direction: row;
    }

    &__section {
        flex: 1;
        padding-bottom: 2rem;
        border-top: 1px solid var(--subtle-colour);

        @include tabletWideAndDown {
            & + .toc__section {
                border-left: 1px solid var(--subtle-colour);
            }
        }
    }

    &__header {
        display: flex;
        padding: 1.5rem 0 1.5rem;

        &.is-active {
            color: $primary;
            background: var(--bg-back-colour);
        }

        .toc--home & {
            color: var(--headline-colour);
        }

        .toc__pretitle {
            color: var(--onSurfaceDisabledVariant);
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 3rem;

        svg path {
            fill: rgba(0, 0, 0, 0.3);
        }
    }

    &__title {
        display: block;
        flex: 1;

        h3 {
            margin: 0;
            font-size: 1.125rem;
            font-weight: 600;
        }
    }

    &__pretitle {
        font-weight: 600;
        letter-spacing: 1px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin: 0;
        padding: 0 2rem;
        list-style: none;

        a {
            display: inline-block;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 2rem;
            color: var(--text-colour);
            font-weight: 500;
            line-height: 1.25rem;

            &:hover {
                background: var(--bg-colour);
                color: var(--headline-colour);
            }

            &:focus-visible {
                outline: 2px solid var(--text-colour)
            }

            &.is-active {
                background-color: var(--primary-alt);
                color: var(--headline-colour);
                font-weight: bold;
            }

            .toc--home & {
                color: var(--text-colour);
            }

            &.is-disabled {
                color: var(--subtle-colour);
                cursor: not-allowed;
            }
        }
    }
}
