@import '../../styles/base.scss';

.install-prompt {
    padding: 1rem 1.5rem 1rem 2.5rem;
    background: #687424;
    transform: translateX(-5rem);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);

    &.isActive {
        transform: translateX(0);
        opacity: 1;
    }

    h4 { margin: 0; }
    p { margin: 0; opacity: 0.5;}

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        padding: 1rem 0 0.5rem;
    }

    .button {
        appearance: none;
        font: inherit;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        background: transparent;
        font-weight: 600;
        color: inherit;
        cursor: pointer;

        &--reveal {
            opacity: 0.5;

            &:hover {
                border-color: currentColor;
            }
        }

        &--primary {
            background: white;
            color: #93A70A;

            &:hover {
                background: $greylightest;
            }
        }
    }
}