@import '../../styles/base.scss';

.layout {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: stretch;
    align-items: stretch;

    @include tabletAndUp {
        flex-direction: row;
    }
}

.panel {
    position: relative;
    flex-basis: 100%;

    // Home panels
    &--home-main {
        display: flex;
        flex-direction: column;
        background: var(--bg-colour);
        box-shadow: 0 0 50px rgba($black, 0.3);
        text-align: center;

        @include tabletAndUp { flex-basis: 60%; }
        @include tabletWideAndUp { flex-basis: 50%; }
    }
    &--home-cover {
        min-height: 60vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include tabletAndUp { min-height: auto; flex-basis: 40%; order: 2; }
        @include tabletWideAndUp { flex-basis: 50%; }
    }

    // Page panels
    &--nav { flex-basis: 0; }
    &--full,
    &--left,
    &--right { flex-basis: 100%; }

    @include tabletAndUp {
        &--left { flex-basis: 60%; }
        &--right { flex-basis: 40%; }
    }
    @include tabletWideAndUp {
        &--nav { flex-basis: 25%; }
        &--full { flex-basis: 75%; }
        &--left { flex-basis: 50%; }
        &--right { flex-basis: 25%; }
    }
    @include desktopAndUp {
        &--nav { flex-basis: 20%; }
        &--full { flex-basis: 80%; }
        &--left { flex-basis: 45%; }
        &--right { flex-basis: 35%; }
    }
    
    // Panel styling
    &--full, &--left {
        z-index: 10;
        background-color: var(--bg-colour);
        box-shadow: 0 0 50px rgba($black, 0.1);
        padding: 1.5rem;

        @include tabletAndUp {
            padding: 2rem 4rem;    
        }
    }
    &--right { 
        @include tabletAndUp { min-height: auto; order: 2; }
    }

    // Panel loading animation
    &--home-main, &--home-cover, &--full, &--left, &--right {
        position: relative;
        transform: translateY(3rem);
        transition: all 0.3s cubic-bezier(1, 0, 0, 1);
        transition: all 0.5s ease;
        opacity: 0;
        filter: blur(0.5rem);

        @include tabletAndUp {
            transform: translateX(5rem);
        }

        .layout.is-loaded & {
            transform: translateY(0);
            opacity: 1;
            filter: blur(0);

            @include tabletAndUp {
                transform: translateX(0);
            }
        }
    }
    &--right, &--home-cover {
        transition-delay: 0.3s;
    }
}
