@import "../../styles/base.scss";

.sidebar {
    position: sticky;
    top: 0;

    @include tabletWideAndDown {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        z-index: 3;
        z-index: 10;
        min-height: auto;
        width: 100%;
        background: var(--bg-back-colour);

        .toc {
            flex-direction: row;

            &__section {
                padding-bottom: 0;

                &.isActive {
                    position: relative;
                    z-index: 4;
                    border-top-color: var(--bg-back-colour);

                    .toc__title {
                        color: $primary;
                    }

                    .toc__content {
                        position: absolute;
                        bottom: calc(100% + 1px);
                        left: 0;
                        width: 100vw;
                        display: block;
                        padding: 1rem 0;
                        background: var(--bg-back-colour);
                        box-shadow: 0 0 -50px rgba($black, 0.1);

                        @include darkMode {
                            box-shadow: 0 0 -50px rgba($black, 0.2);
                        }

                        // &:before {
                        //     content: "";
                        //     position: absolute;
                        //     top: 100%;
                        //     right: 0;
                        //     width: 50%;
                        //     height: 6rem;
                        //     background-color: var(--bg-colour);
                        //     opacity: 0.9;
                        // }
                    }
                }
                &:last-child.isActive .toc__content {
                    left: -100%;
                    
                    // &:before {
                    //     right: auto;
                    //     left: 0;
                    // }
                }
            }
            &__header {
                padding: 1rem 1rem 1rem 0;
            }
            &__title h3 {
                font-size: 1rem;
                line-height: 1.25rem;
            }
            &__content {
                display: none;
            }
        }
    }

    @media screen and (max-height: 700px) {
        .toc__pretitle {
            display: none;
        }
    }

    &__header {
        padding: 2.5rem 1.25rem;

        @include tabletWideAndDown {
            display: none;
        }

        img {
            width: 2rem;
            margin-right: 1.25rem;
        }

        a {
            display: flex;
            color: inherit;
        }
        h2 {
            font-size: 1.25rem;
            font-weight: bold;
        }
    }
}

@include tabletWideAndDown {
    body.page--content {
        padding-bottom: 91px;
    }
}
